# Nested build directory
/build*
experiments/*
*.mlir
*.ll
*.o
# Visual Studio built-in CMake configuration
.vscode*
/CMakeSettings.json
# Compilation databases
compile_commands.json
tablegen_compile_commands.yml
